.jumbotron{
  margin-top: 5%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
h1{
  text-align: center;
}
.signUpForm{
  text-align: center;
}
.error{
  text-align: center
}
input{
  width: 100%;
  text-align: center;
}

.btn{
  margin-top: 2%;
}
