<app-header></app-header>
<div *ngIf="!authService.isLogged()">
  <a class="btn btn-primary" href="signUp" role="button">inscription</a>
  <a class="btn btn-primary" href="signIn" role="button">Connexion</a>
</div>

<div *ngIf="authService.isLogged()">
  <button (click)=signOut($event) class="btn btn-primary"  role="button">deco</button>

</div>
<router-outlet></router-outlet>
