<div class="jumbotron">
  <h1 class="display-4">Se connecter</h1>
  <p *ngIf="errorMessage!=''" class="error text-danger">{{ errorMessage }}</p>
  <hr class="my-4">
  <form #signInForm="ngForm" (ngSubmit) = "onSignIn(signInForm)">
    <div class="signUpForm">
      <label>prenom:  </label> <br>

      <input type="text"
             ngModel
             pattern="^[a-zA-Z0-9]{3,25}$"
             required
             name="prenom"
             #prenom="ngModel">
      <div class="text-danger" [hidden]="prenom.valid || prenom.pristine" >
        Prénom avec un 25 caracteres et sans accent
      </div>
      <br>
      <label>nom:  </label> <br>

      <input type="text"
             ngModel
             pattern="^[a-zA-Z0-9]{3,25}$"
             required
             name="nom"
             #nom="ngModel">
      <div class="text-danger" [hidden]="nom.valid || nom.pristine" >
        nom avec un 25 caracteres et sans accent
      </div>

      <br>

      <label>Mot de passe:  </label> <br>
      <input type="password"
             ngModel
             required
             pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$"
             name="password"
             #password="ngModel"> <br>
      <div class="text-danger" [hidden]="password.valid || password.pristine" >
        password valid please
      </div>

      <button [disabled]="!signInForm.form.valid" class="btn btn-dark">submit</button>
    </div>
  </form>
</div>
